/* Put your css in here */
#centro
{
    width: 95%;
    height: 25px;
    line-height: 25px;
    text-align:center;
    Font-size: 17px;
    /* pura mágica */
    position: absolute;
    top: 30%; /* posiciona na metade da tela */
}
#atencao
{
color:red;
}
.fundo
{
background-size: cover;
background-size:auto 100%;
background-repeat: no-repeat;
}
