<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Lista de Filmes</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/vizual.css' %}"/>
	<link rel="shortcut icon" type="image/png" href="{% static 'img/favicon.ico' %}"/>
</head>
<body>
{% for filme in filme %}
		<div class="fundo" id="imagem"> <!--Div do Filme-->
			<div class="lado"> <!--imagem da capa-->
				<img src="{{filme.Url}}" alt="Capa do Filme" onerror="this.src='http://ranchoberti.com.br/vendas/SemImagem02.jpg';" >
			</div> <!-- fecha imagem da capa-->
			<div class="lado">
				<p>Nome: {{filme.Nome}}</p>
				<p>Descrição: {{filme.Descricao}}</p>
			</div>
		</div>
{% endfor %}
</body>
</html>